@font-face {
  font-family: Trueno;
  src: url(assets/font/trueno_round.otf);
}
html {
    width: 100%;
    background: #161616;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    background: #161616;
    margin: 0;
}

body * {
    font-family: "trueno";
    font-size: 2vh;
}

form * {
    margin: 0.5vh;
}

form label {
    font-weight: bold;
    color: #F4F4F3;
}

input[type = number], button, select {
    width: 12vw;
    background-color: #F4F4F3;
    border-width: 0.3vw;
    border-radius: 0.2vw;
    border-color: #F4F4F3;
    border-style: solid;
}

input[type = date] {
    width: 24px;
    background-color: #F4F4F3;
    border-width: 0.3vw;
    border-radius: 0.2vw;
    border-color: #F4F4F3;
    border-style: solid;
}

button.conectButton img.connectButton {
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    width: 0px;
}
.connectButton {
    display: inline-block;
    border: none;
    background: none;
    width: 13vw;
    margin: 0vw;
    margin-bottom: 1.5vh;
}
#picker {
    border-width: 0.3vw;
    border-radius: 0.2vw;
    border-color: #F4F4F3;
    border-style: solid;
    background-color: #F4F4F3;
}
#statsSubmit {
    margin-top: 1.5vh;
    padding: 0.45vw;
    background-color: #F4F4F3;
    border-width: 0.3vw;
    border-radius: 0.2vw;
    border-color: #F4F4F3;
    border-style: solid;
}

#map {
    width: 100vw;
    height: 90vh;
}    


#activityListContainer {
    height: 20vh;
    width: 13.5vw;
    margin-top: 1vw;
    background-color: #1c1c1c;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 15px;
}
#activityList {
    border-collapse: collapse;
    table-layout: fixed;
}
#secondCollumn {
    color: #F4F4F3;
    font-size: 10px;
    padding: 0px;

}
#firstCollumn {
    color: #B9B9B8;
    font-size: 6px;
    padding: 0px;
}

@media screen and (min-width: 800px) {
    #map {
        width: 85vw;
        height: 100vh;
        float: right;
        position: fixed;
        top: 0;
        right: 0;
    }
}